.loginBtn > div {
  width: fit-content;
}

/* car details */

.carDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  font-size: 14px;
}

.carDetails > div {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* end car details */

@media (max-width: 768px) {
  .carDetails {
    padding: 0 15px;
  }
}
